@model IList<ProductOverviewModel>



<section class="section section-variant-1 bg-default novi-background bg-cover">
    <div class="container container-wide">
        <div class="row row-fix justify-content-xl-end row-30 text-center text-xl-left">
            <div class="col-xl-8">
                <div class="parallax-text-wrap">
                    <h3>Esperienze che ti piaceranno</h3><span class="parallax-text">OmarSharm tours</span>
                </div>
                <hr class="divider divider-decorate">
            </div>
            <div class="col-xl-3 text-xl-right mr-5"><a class="button button-secondary button-nina" href="#">view all tours</a></div>
        </div>
        <div class="master-wrapper-page container2">
        <div class="row row-50">

            @if (Model.Count > 0)
            {

                @foreach (var item in Model)
                {
                    <div class="col-md-6 col-xl-4">
                        <div class="thumbnail">
                            @await Html.PartialAsync("_ProductBox", item)
                        </div>
                    </div>
                }


            }
            </div>
        </div>
    </div>
</section>